.SubDetail {
    text-align: center;
}

.input {
    max-width: 95px;
}

.form {
    margin-top: -1px;
    padding-bottom: 15px;
}

table {
    background-color: rgb(255, 254, 254);
}

thead {
    background-color: rgb(224, 224, 224);
}

.warning {
    color: #eee;
    position: absolute;
    margin: -590px 0px 500px 500px;
    width: 300px;
}