.Header{
    font-family: 'Open Sans', 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    text-align: center;
    border-bottom: 2px solid rgb(3, 3, 3);
    color: whitesmoke;
}

img{
    border-radius: 20px;
}